@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600;700&family=Montserrat:wght@100;400;700&display=swap');

:root {
    --accent-color: #667fa3;
    --accent-color-dark: #4b5d77;
    --error-color: rgb(218, 86, 86);
    --active-field-color: rgb(66, 125, 202);
    --shadow-light: 2px 2px 8px #aaa;
}

* {
    margin: 0;
    padding: 0;
    font-family: jost, sans-serif;
}

body {
    display: flex;

}


aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    background-image: url(images/rohit-tandon-9wg5jCEPBsw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-width: 510px;
    min-height: 100vh;
}

.credit {
    color: #ccc;
    margin-bottom: 16px;
    font-size: 14px;
}

.credit a {
    color: #ccc;
}

main {
    margin-top: 158px;
    margin-bottom: 152px;
    flex-grow: 5;
    max-width: 1200px;
}

p, h2 {
    margin: 10px 40px 20px 40px;
    font-size: 22px;
    font-weight: 600;
    max-width: 55rem;

}

h2 {
    margin-top: 60px;
    text-transform: uppercase;
    font-weight: 600;
}

p.small {
    font-size: 16px;
    font-weight: 600;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 40px;

}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 18px 20px;
    font-weight: 300;
    font-size: 16px;
}

input {
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px 8px;
    font-weight: 600;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

input.error {
    border-color: var(--error-color);
}

input:focus {
    border: 2px solid var(--active-field-color);
    box-shadow: var(--shadow-light)
}

button {
    margin-left: 40px;
    margin-top: 34px;
    margin-bottom: 24px;
    padding: 12px 40px;

    background-color: var(--accent-color);
    border-style: none;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: var(--shadow-light);
}

button:hover {
    background-color: var(--accent-color-dark);
}

.shadow {
    box-shadow: 0px 5px 10px -1px #ccc;
    height: 30px;
}

#logo {
    width: 280px;
}

.logo-bg {
    margin-top: 214px;
    padding: 18px 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    align-items: center;

    display: flex;
    justify-content: center;
}

.logo-name {
    font-size: 60px;
    color: white;
    font-weight: bold;
}

p.small a {
    text-decoration: none;
    color: var(--accent-color);
}

p.xs {
    font-size: 12px;
    color: var(--error-color);
    margin: 0;
    font-weight: 600;
}
